#avatar{
    height: 20rem;
    border-radius: 25%;
}

.projectImage{
    height: 15rem;
}

p{
    max-width: 50rem;
}

nav{
    grid-area: nav;
    background-color: red;
}

header #name{
    grid-area: head;
    padding-bottom: 0rem;
    padding-left: 1rem;
    margin-bottom: 0.2rem;
}

main{
    grid-area:main;
    padding-left: 1rem;
}

main > h1{
    padding-top: 0rem;
    margin-top: 0rem;
}

nav > ul{
    list-style-type: none;
}

body{
    background-color: gray;
}

@media screen and (min-width: 300px){
    body {
        display: grid;
        grid-template-areas: "nav nav"
                             "head head"
                             "main main";
        height: 100vh;
        grid-template-columns: auto auto;
        grid-template-rows:  auto auto auto;
    }
    nav > ul > li{
        display: inline-block;
    }
}

@media screen and (min-width: 800px) {
    body{
        display: grid;
        grid-template-areas: "nav head"
                             "nav main";
                             
        height: 100vh;
        grid-template-columns: 8em 1fr;
        grid-template-rows: 1fr 10fr;
    }

    nav > ul > li{
        display:list-item;
        margin-top: 10rem;
    }
}

