#avatar{
    height: 20rem;
    border-radius: 25%;
    border-color: black;
    border-style: solid;
}

.projectImage{
    height: 15rem;
}

p{
    max-width: 50rem;
    font-family: Arial, Helvetica, sans-serif;
}

nav{
    grid-area: nav;
    background-color: darkgrey;
    border-right: 0.2rem solid black;
    padding-left: 0;
    margin-left: 0;
}

li{
    font-family:Arial, Helvetica, sans-serif;
}

header #name{
    grid-area: head;
    padding-bottom: 0rem;
    padding-left: 1rem;
    margin-bottom: 0.2rem;
}

main{
    grid-area:main;
    padding-left: 1rem;
}

main > h1{
    padding-top: 0rem;
    margin-top: 0rem;
}

nav > ul{
    list-style-type: none;
    font-family: fantasy;
    font-size: large;
    padding: 0;
}

main > ul {
    padding-left: 1rem;
}

#resumeTitle{
    padding-left: 1rem;
    
}

a{
    text-decoration:none;
}

body{
    background-color: gray;
}

h1{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h2{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h3{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
h4{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


@media screen and (min-width: 300px){
    body {
        display: grid;
        grid-template-areas: "nav nav"
                             "head head"
                             "main main";
        height: 100vh;
        grid-template-columns: 4fr 1fr;
        grid-template-rows:  0.3fr 0.5fr 4fr;
    }
    nav > ul > li{
        display: inline-block;
        padding-right: 3rem;
    }
    nav > ul{
        padding-left: 2rem;
    }
}

@media screen and (min-width: 600px) {
    body{
        display: grid;
        grid-template-areas: "nav head"
                             "nav main";
                             
        height: 100vh;
        grid-template-columns: 8em 1fr;
        grid-template-rows: 1fr 10fr;
    }

    #portfolio{
        display: grid;
        grid-template-areas: "nav head"
                             "nav main";
                             
        height: 100vh;
        grid-template-columns: 8em 1fr;
        grid-template-rows: 1fr 10fr;
    }

    nav > ul > li{
        display:list-item;
        margin-top: 10rem;
        
    }
    nav > ul {
        padding-top:3rem;
        padding-left: 1.6rem;
    }

    #name{
        padding-left: 1rem;
    }

   p{
        line-height: 2rem;
    }
}

.wrap{
    float:left;
    padding-right: 2rem;
    word-wrap:break-word;
}
